body {
  color: black;
}
.carousel-item {
  height: 100vh;
  min-height: 330px;
  background: no-repeat center center scroll;
  background-size: cover;
  background-image: center;
}
.carousel-caption {
  margin-bottom: 15%;
  max-width: 500px;
  text-align: left !important;
  color: black !important;
}
.carousel-item img {
  opacity: 0.5;
}

.carousel-caption button {
  background: transparent;
  border: 1px solid rgb(180, 8, 8);
  border-radius: 40px;
  cursor: pointer;
  padding: 10px 20px;
}

.nav-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
}
.navbar-nav .nav-item {
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
}

.about-picture img {
  width: 180px;
  height: 390px;
}
